.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-card {
  width: 400px;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.captcha-container {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.captcha-container img {
  margin-right: 15px;
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
/* Responsive adjustments */
@media (max-width: 600px) {
  form {
    padding: 10px;
  }


}
