<form [formGroup]="formGroup" class="service-details-form">
  <div class="form-row">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Corps</mat-label>
      <mat-select formControlName="corps">
        <mat-option *ngFor="let corps of corpsList" [value]="corps.id">
          {{ corps.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Commission Type</mat-label>
      <mat-select formControlName="commission">
        <mat-option *ngFor="let type of commissionTypes" [value]="type.id">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field class="form-field-full" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput rows="2" formControlName="description"></textarea>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="startPicker" formControlName="start_date">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="endPicker" formControlName="end_date">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="form-actions">
    <button mat-raised-button color="primary" (click)="add()" [disabled]="formGroup.invalid">
      + Add Service Record
    </button>
    <button mat-button color="warn" (click)="clearForm()" type="button">
      Clear
    </button>
  </div>

  <div *ngIf="serviceRecords.length > 0">
    <h3>Added Records:</h3>
    <mat-list>
      <mat-list-item *ngFor="let record of serviceRecords; let i = index">
        {{ i + 1 }}. {{ record.description }} ({{ record.start_date | date }} - {{ record.end_date | date }})

        <button mat-icon-button color="warn" (click)="deleteRecord(i)" matTooltip="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</form>
