<!-- create-user.component.html -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Create User</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="first_name" type="first_name" />
        <mat-error *ngIf="userForm.controls['first_name'].hasError('required')"
          >First Name is required</mat-error
        >
        <mat-error *ngIf="userForm.controls['first_name'].hasError('email')"
          >Invalid First Name format</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="last_name" type="last_name" />
        <mat-error *ngIf="userForm.controls['last_name'].hasError('required')"
          >Last name is required</mat-error
        >
        <mat-error *ngIf="userForm.controls['email'].hasError('email')"
          >Invalid Last name format</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error *ngIf="userForm.controls['email'].hasError('required')"
          >Email is required</mat-error
        >
        <mat-error *ngIf="userForm.controls['email'].hasError('email')"
          >Invalid email format</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="userForm.controls['password'].hasError('required')"
          >Password is required</mat-error
        >
        <mat-error *ngIf="userForm.controls['password'].hasError('minlength')"
          >Password must be at least 6 characters</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword" type="password" />
        <mat-error
          *ngIf="userForm.controls['confirmPassword'].hasError('required')"
          >Confirm Password is required</mat-error
        >
        <mat-error
          *ngIf="
            userForm.hasError('mismatch') &&
            userForm.controls['confirmPassword'].dirty
          "
          >Passwords do not match</mat-error
        >
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role" required>
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{ role.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="userForm.get('role')?.hasError('required')">
          Role is required
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!userForm.valid"
      >
        Create User
      </button>
    </form>
  </mat-card-content>
</mat-card>
