<footer>
  <mat-toolbar class="footer-toolbar">
    <mat-toolbar-row class="tool-bar">
      <div class="footer-item">
        <img src="./assets/images/G20.png" alt="G20" class="img-bar" />
      </div>
      <div class="footer-item">
        <img src="./assets/images/mygov.png" alt="MyGov" class="img-bar" />
      </div>
      <div class="footer-item">
        <img src="./assets/images/sb.png" alt="SB" class="img-bar" />
      </div>
      <div class="footer-item">
        <img src="./assets/images/di.png" alt="DI" class="img-bar" />
      </div>
      <div class="footer-item">
        <img src="./assets/images/negp.png" alt="NeGP" class="img-bar" />
      </div>
      <div class="footer-item">
        <img src="./assets/images/CSC.png" alt="CSC" class="img-bar" />
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="footer-copyright">
    <div class="footer-text">
      © 2024 Copyright: Designed & developed by National
      Informatics Center, Gangtok, Sikkim
    </div>
    <div class="footer-logo">
      <img
        class="footer-img"
        src="./assets/images/nic_logo.png"
        alt="NIC Logo"
      />
    </div>
  </div>
</footer>
